.ventana img{
    width: 80%;
}
.ventana{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.definicion{
    display: flex;
    align-items: center;
}
.presupuestador div, .presupuestador input{
    padding: 0 !important;
}